/(SER-2)_SGT-1_NEET_SR STAR CO SUPER CHAINA_PROG-1 KEY EX DT 20-03-2026 (1).pdf
/(SER-2)_SGT-1_NEET_SR STAR CO SUPER CHAINA_PROG-1 KEY EX DT 20-03-2026.pdf
/a.jpeg
/AdmitCard-260320170560.pdf
/AdmitCard-260410949342.pdf
/AnyDesk (1).exe
/AnyDesk (2).exe
/AnyDesk.exe
/bulllleyt.jpg
/certificate-coixgn42joqy-1780142883.pdf
/ChatGPT Image Apr 28, 2026, 07_26_29 PM.png
/ChatGPT Image Apr 28, 2026, 07_29_52 PM.png
/ChromeSetup.exe
/Claude Setup.exe
/Couple Friendly (2026) Telugu HQ HDRip - x264 - AAC - 700MB - ESub.mkv
/Data-Science-Unlocking-the-Future-of-Data-Driven-Decisions.pdf
/debug.log
/desktop.ini
/Funky (2026) 720p Telugu HQ HDRip - x264 - (DD+5.1 - 192Kbps & AAC) - 1.4GB - ESub.mkv
/gcapi.dll
/Git-2.53.0.2-64-bit.exe
/hanuman.jpg
/index (1).html
/index (2).html
/index (3).html
/index (4).html
/index (5).html
/index (6).html
/index1.html
/JEE Mains 2025 April all shifts.pdf
/Lively Wallpaper Installer.exe
/mains session 2.pdf
/maneesh and rohan.jpeg
/Maneesh_Certificate_Participation_UID-196.pdf
/Maneesh_Kodichella_Resume (1).pdf
/Maneesh_Kodichella_Resume (2).pdf
/Maneesh_Kodichella_Resume.pdf
/Maneesh_Kodichella_Resume_Final (1).pdf
/Maneesh_Kodichella_Resume_Final.pdf
/Maneesh_Kodichella_Resume_v2.pdf
/maximalism to me.avif
/Microsoft.Services.Store.winmd
/musical nightss.jpeg
/mysql-installer-web-community-8.0.45.0 (1).msi
/mysql-installer-web-community-8.0.45.0 - Shortcut.lnk
/mysql-installer-web-community-8.0.45.0.msi
/node-v24.16.0-x64.msi
/NYXORA_2k26_Certificate_Maneesh.pdf
/pani pani.webp
/passport .jpeg
/Portfolio (1).jsx
/Portfolio.jsx
/praabhas.jpg
/preview.html
/Prompt-Engineering.pdf
/Python-3.10.20.tar.xz
/Python-3.11.15.tar.xz
/python-manager-26.0 (1).msix
/python-manager-26.0.msix
/README.md
/sem 2 mid 2.pdf
/service.conf.lock
/Sign-Language-Detection-main
/Sign-Language-Detection-main (1)
/Sign-Language-Detection-main (1).zip
/Sign-Language-Detection-main.zip
/st cert.jpeg
/system.conf.lock
/Tips for getting the most from arti.txt
/vikas1.pdf
/WhatsApp Image 2026-04-28 at 7.36.59 PM.jpeg